body {
    font-family: 'Roboto', sans-serif;
}

.top-navigation {
	border-bottom: 1px solid #eaebec;
	/*fixes the navigation to the top of the page*/
	position: fixed;
	width: 100%;
	z-index: 9999;

	background-color: #fff;
}

.content {
	padding:  0rem 0.9375rem;
	margin: 0 auto;
	width: 50rem;/*check*/
}

.top-navigation .content {
	/*fixes content in the center of the page*/
	height: 4.375rem;
}

.top-navigation img {
	width: 1.625rem; /* 1.625 26px*/
	height: 4.375rem; /*4.375rem = 70px*/
}

.links {
	/*unordered list for the navigation head*/
	float: right;
	margin-top: 1.6rem;
	list-style: none;

	/*typography*/
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	
}

.links li {
	display: inline-block;
	margin-left: 1.5625rem
}


/*Active meet karma*/
.top-navigation .links .active {
	color: #4c5058; 
    font-weight: 600;

} 


.links li:hover {
	color: #4c5058;
}

/*Intro section*/
.intro {
	height: 40.9357rem;
	/*typography*/
	text-align: center;
	color: white;

	/*backgroung image*/
	background: url('../images/background.jpg') no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: auto;
	

}

.intro h1 {
	margin-top: 13.5rem;
	font-size: 3.125rem;
	font-weight: 300;
}

.intro h3 {
	margin-top: 1.3rem;
	font-size: 2rem;
	font-weight: 300;
}

button {
	margin-top: 1.3rem;
	color: white;
	line-height: 1.3rem;

	/*button styling*/
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	opacity: 0.95;
	background-color: #f15a29;
}

button:hover {
	opacity: 1;
}

/*explanation section*/


.cases .content {
	height: 28.3125rem;
	border-bottom: 1px solid #eaebec;

}

.cases .devices {
	/*centers text, images, and divs*/	
	width: 33.3333%;
	float: left;
	text-align: center;


	

	/* styles to assist with debugging */
    /*border: 1px solid black;*/

}

.devices img {
	height: 7.9375rem;
	width:  7.9375rem;
}

.cases h2 {
	margin: 7.625rem 0 3.125rem 0;
	font-size: 2.75rem;
	font-weight: 300;
	text-align: center;
}

.cases h3 {
	padding: 0em 1em;
	font-weight: 400;
	font-size: 1.563rem;
	margin: 2.5rem 0px 1.875rem;
	text-align: center;

}

/*footer*/
footer .content {
	text-align: center;
}
footer p {
	margin: 1em 0;
}

.fa-facebook {
	color: #516099;
}

.fa-twitter {
	color: #59AEF1;
}

.fa-instagram {
	color: #507099;
}
.icons li {
	border: 1px solid #eaebec;
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.625rem;
	display: inline-block;
	text-align: center;
}

.disclaimer {
	color: #838994;
}

