body {
    background-color: LightGray;

    /*min-width: 36.5rem;*/
    height: 1000px;
    font-family: 'Roboto', sans-serif;

}

/*div {*/
    /*border: 1px solid Chocolate;*/
/*}*/

/*navigation section*/

.top-navigation {
	background-color: #fff;
}

.content {
	padding:  0rem 0.9375rem;
	margin: 0 auto;
	width: 50rem;/*check*/
}

.top-navigation .content {
	/*fixes content in the center of the page*/
	height: 4.375rem;
}

.top-navigation img {
	width: 1.625rem; /* 1.625 26px*/
	height: 4.375rem; /*4.375rem = 70px*/
}

.links {
	/*unordered list for the navigation head*/
	float: right;
	margin-top: 1.6rem;
	list-style: none;

	/*typography*/
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	
}

.links li {
	display: inline-block;
	margin-left: 1.5625rem
}


/*Active meet karma*/
.top-navigation .links .active {
	color: #4c5058; 
    font-weight: 600;

} 


.links li:hover {
	color: #4c5058;
}

/*Intro section*/
.intro {
	height: 40.9357rem;
	/*typography*/
	text-align: center;
	color: white;

	/*backgroung image*/
	background: url('../images/background.jpg') no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: auto;
	

}

.intro h1 {
	margin-top: 13.5rem;
	font-size: 3.125rem;
	font-weight: 300;
}

.intro h3 {
	margin-top: 1.3rem;
	font-size: 2rem;
	font-weight: 300;
}

button {
	margin-top: 1.3rem;
	color: white;
	line-height: 1.3rem;

	/*button styling*/
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	opacity: 0.95;
	background-color: #f15a29;
}

button:hover {
	opacity: 1;
}